h1 {
  color: skyblue;
  text-align: center;
}
h2 {
  color: green;
  font style: italic;
  text-align: center;
  font-size: 14;
}
image{
  widht:120px
  height:120px
}
p {
  font-family: sans-serif;
}
ul{
  line-height: 80px;
}
